body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.header, .footer {
    height: 72px;
    background-color: #1f2937;
    color: white;
}

.top {
    flex: 1;
    background-color: #1f2937;
    display: flex;
    flex-direction: row;
    padding: 50px 200px;
}

.top .right {
    flex: auto;
    display: flex;
    align-items: center;
    width: 500px;
    height: 100px;
    background-color: grey;
    justify-content: center;
}

.top .left {
    color: white;
}

.top .left .button {
    background-color: #3882f6;
    text-align: center;
    width: 200px;
    padding: 10px 20px;
    border-radius: 4px;
}

.cards {
    text-align: center;
    padding-bottom: 70px;
}

.cards .title {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 32px;
}

.card {
    height: 150px;
    width: 150px;
    border: 4px solid #3882f6;
    border-radius: 8px;
}

.content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 32px;
}

.content .item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.quotebox{
    display: flex;
    justify-content: center;
    background-color: #E5E7EB;
    padding-left: 400px;
    padding-right: 400px;
}

.quote {
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.quote .text {
    font-size: 32px;
    font-weight: 200;
}

.quote .author {
    display: flex;
    justify-content: right;
    font-size: 16px;
    font-weight: bold;
}

.register {
    display: flex;
    justify-content: center;
    padding: 40px 0px;
}

.register .box {
    display: flex;
    flex-direction: row;
    background-color: #3882f6;
    padding: 20px 40px;
    gap: 100px;
}

.box .content {
    display: flex;
    flex-direction: column;
    gap: 0px;
}

.box .content p {
    margin: 0;
    color: white;
}

.box .button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 10px;
    color: white;
    border: 2px solid white;
    border-radius: 4px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 200px;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header .logo {
    font-size: 48px;
    font-weight: bold;
}

.header .links {
    display: flex;
    align-items: center;
    text-decoration: none;
    list-style: none;
    gap: 16px;
}